<div class="container col-container">
    <div class="row">
        <div class="col col-menu">

            <a class="text-menu" href="riscoacidente">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <h3>Risco de acidente</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col col-menu">

            <a class="text-menu" href="naoconformidade">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <h3>Não conformidade</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col col-menu">

            <a class="text-menu" href="problema">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <h3>Problema</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col col-menu">

            <a class="text-menu" href="produto">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <h3>Produto</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <div class="col col-menu">

            <a class="text-menu" href="incidente">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-6 mx-auto">
                            <h3>Incidente</h3>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</div>