<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Menu</a></mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="home" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="produto" mdbWavesEffect>Produto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="incidente" mdbWavesEffect>Incidente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="problema" mdbWavesEffect>Problema</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="riscoacidente" mdbWavesEffect>Risco de acidente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" routerLink="naoconformidade" mdbWavesEffect>Não conformidade</a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div>