<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de risco de acidente</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-risco-acidente">
      <h5 class="card-header">Lista de risco de acidente</h5>
      <div class="card-body">

        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="md-form">
              <input
                type="text"
                [(ngModel)]="searchText"
                class="form-control"
                id="search"
                mdbInput
              />
              <label for="search">Pesquisa</label>
            </div>
          </div>
        </div>
        
        <table mdbTable class="table table-striped">
            <thead>
              <tr>
                <th scope="col">IdRiscoAcidente</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descricao</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let el of elements; let i = index">
                <td>{{el.idRiscoAcidente}}</td>
                <td>{{el.tipo}}</td>
                <td>{{el.descricao}}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editRiscoAcidente(el)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteRiscoAcidente(el)">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  
    <div class="card add-risco-acidente">
        <h5 class="card-header">Adicionar/Atualizar risco de acidente</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveRiscoAcidente(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="color">Tipo</label>
                  <input type="text" [(ngModel)]="riscoAcidente.tipo" id="color" name="color" #color="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && color.invalid }" placeholder="Digite o tipo">
                  <div *ngIf="f.submitted && color.invalid" class="invalid-feedback">
                      <div *ngIf="color.errors.required">Tipo é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="price">Descricao</label>
                  <input type="text" [(ngModel)]="riscoAcidente.descricao" id="price" name="price" #price="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && price.invalid }" placeholder="Digite a descrição">
                  <div *ngIf="f.submitted && price.invalid" class="invalid-feedback">
                      <div *ngIf="price.errors.required">Descrição é obrigatório</div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-add-risco-acidente">Salvar</button>
              <button type="reset" class="btn btn-secondary btn-add-risco-acidente" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
      </div>
  </div>