.container {
    margin-top: 30px;
}

.add-nao-conformidade {
    margin-bottom: 30px;
}

.list-nao-conformidade {
    margin-bottom: 50px;
}

.list-risco-acidente {
    margin-bottom: 50px;
}

.btn-add-nao-conformidade {
    margin-right: 10px;
}